<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand d-flex align-items-center" href="/">
            <i class="bi bi-lightning-charge me-2"></i>
            Marvel Rivals
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">
                        <i class="bi bi-house me-1"></i>Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'characters' ? 'active' : '' %>" href="/characters">
                        <i class="bi bi-people me-1"></i>Characters
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'teams' ? 'active' : '' %>" href="/teams">
                        <i class="bi bi-shield me-1"></i>Teams
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>